<a href="https://colab.research.google.com/github/aniket-1812/30-Days-of-ML-with-kaggle/blob/master/Day2_Data_Types_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<br><br>

##**9. Boolean Datatype, Comparison and Logical Operators:**

Bool is another datatype that is commonly used in Python. Bool is short for Boolean which can have a value of either True or False. Boolean algebra is the branch of algebra in which the values of the variables are the truth values true or false. Boolean algebra us the framework on which all electronic devices and built and exists fundamentally in every line of code inside a computer. In python we can easily assign boolean values like this:

In [ ]:
python_awsome = True
doumentation_bad = False

We can use comparison operators to compare 2 values and produce boolean results like:

In [ ]:
a = 3 > 1
print(a)

True

Here 3 is greater than 1 so printing out the output gives us a boolean value to true. There are many comparison operators in python, as you can see here are all of them.

As you will see the function of all these comparison operators are evident from their names itself these are **less than,  greater than , less than or equal to, greater than or equal to, not equal to**.

Working with boolean has its own set of operators called as logical operators. These operators very useful when working with boolean, and evaluates if both the sides are true, **OR** evaluates if atleast one side is true and **not** evaluates the inverse of the input boolean.

Lets understand if via an example:

In [ ]:
rent = 1200
is_affordable = rent > 1000 and rent < 2000

print(is_affordable)

True

Here we check if the *rent* of a house is affordable or not, here in the second line we evaluate both the sides ie *rent > 1000*, yes, so it is **true** while the second condition is *rent < 200*, that too is **true**. as both the condition on the left and right side of and is **true** hence the boolean value of **true** will be assigned to the *is_affordable variable*. In other words if the *rent* is greater than 1000 and less than 2000 then only it is affordable.

And here you can see how not works:

In [ ]:
rent = 1200
is_affordable = not(rent > 1000 and rent < 2000) #"not" just inverts bool value

print(is_affordable)

False

<br><br>

## **10. Strings:**

Python has another datatype in its toolkit called as Strings, as the name suggest this datatype deals with characters words and text. String is a immutable order of sequences of characters (eg, Letters, numbers, spaces and symbols. We will be explaining what does immutable order means later on.

You can create a string by using quotes as seen here, you can use either single / double quotes they both work equally well but there are some cases where you might prefer one over the other which we will be discussing below.

In [ ]:
# using Double Quotes
print("ShapeAI")
# using Single Quotes
print('ShapeAI')

ShapeAI
ShapeAI

In this example we printed the word *ShapeAI* using single and double quotes and got the same output *ShapeAI*.

We can also assign a string to a variable just like float and int.

In [ ]:
motto = "Learn | Code | Compete | Intern" 
print(motto)

Learn | Code | Compete | Intern

Strings in Python are shown as the variable type str.

In [ ]:
type(motto)

str

> *String can contain any character number symbol space within the quotes.
However if we want to have quotes inside the string we get an error.*

In [ ]:
dialogue = "shiva said, "you learn as you grow""

SyntaxError: ignored

Python provides 2 easy ways to handle such problem:

1. Place the string in single quotes rather than double quotes. This will solve your problem for having double quotes within the string. But sometimes you will want to have both double and single quotes in your string in that case this will prove to be a problem.

In [ ]:
dialogue = 'shiva said, "you learn as you grow"'
print(dialogue)

shiva said, "you learn as you grow"

2. In that case we can use a backslash to skip quotes as you can see in this example. The backslash helps python to know that the the single quote should be interpreted as part of the string rather than the quote that ends the string.

In [ ]:
dialogue = '"shiva you\'re bag is red"'
print(dialogue)

"shiva you're bag is red"

There are a few operators that we use on floats and ints that can also be used on strings. For example we can use the **'+'** to combine / concatenate 2 strings together and we can use **'*'** to repeat the string let us look at an example for each.

In [ ]:
print("hello" + "world")

print("hello" + " " + "world")

helloworld
hello world

> *here in this example we can see that using the plus arithmetic operator we get *helloworld* written together but this word that is printed out has no meaning, we need to have a space between both the words to have a meaning. We can add another string containing just a space in between the words to do so.*

In [ ]:
word = "hello"
print(word * 5)

hellohellohellohellohello

Now in the second example we can see that using the multiplication operator on a string we get repetition of the same word as many time as the number we multiplied the string by in the output.

However unlike multiplication and addition operators the other arithmetic operators like division and subtraction cannot be used on strings any attempt to do so would result in an error that string is an unsupported datatype for the division/subtraction operator.

In [ ]:
word_1 = "hello"
word_2 = "world"
print(word_1 / word_2)

TypeError: ignored

A useful builtin function for string datatypes is *len()* which stands for length. As the name suggests (it returns the length of an object ie., it returns the no of characters in a string.

It takes in values in a parenthesis and returns the length of the string. *len()* is a little different from *print()* as the value returned from length can be stored in a variable as seen in the example here. The *len()* function outputs a value 7 that is then stored in a variable called as *word_length* which is then printed out.

In [ ]:
word_length = len("ShapeAI")
print(word_length)

7

### **Question:**

The line of code in the following code block will cause a *SyntaxError*, thanks to the misuse of quotation marks. First run it with Test Run to view the error message. Then resolve the problem so that the quote (from Mahatama Gandhi) is correctly assigned to the variable *gandhi_quote*.

In [ ]:
# TODO: Fix this string!
gandhi_quote = 'If you don't ask, you don't get it'

SyntaxError: ignored

In [ ]:
#After Correction
gandhi_quote = "If you don't ask, you don't get it"

### **Question:**

In this question you have to print the accuracy logs of a model in training.

In [ ]:
model = "VGG16"
iteration = "150"
accuracy = "67.98"

# TODO: print a log message using the variables above
# This message should have the same format as this one:
# "the accuracy of ResNET50 model in 100th iteration is: 42.16%"
print(f'the accuracy of {model} model in {iteration}th iteration is: {accuracy}%')

the accuracy of VGG16 model in 150th iteration is: 67.98%

### **Question:**

Use string concatination and *len()* function to fing the length of a persons complete name and store it in the variable *name_length*.

As a business card designer find if the name can fit into a business card.

In [ ]:
given_name = "Rahul"
middle_names = "Shastri"
family_name = "Mishra"

name_length = len(given_name + middle_names + family_name)#todo: calculate how long this name is

# Now we check to make sure that the name fits within the driving license character limit
# Nothing you need to do here
driving_license_character_limit = 28
print(name_length <= driving_license_character_limit)

True

<br><br>

## **11. Type and Type Conversion Revision:**

Till now we have covered 4 different datatypes int, float, bool and string. As you can recall from the previous classes python has a builtin function called as type that returns the type of an object.

In [ ]:
print(type(75))
print(type(75.0))
print(type("75"))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

Look at the code example we can see that even though the first 3 values appear to be same they can be encoded into different datatypes each with their own set of functions operations and uses.

This is to note that here we have called the function print on another function type to output the return value of the function type. In such a case always the function inside the parenthesis is  run first ie. here it will be type.

Different types have different properties with their own set of functions operations and uses and hence while choosing a variable you need to choose the correct set of datatype for it depending upon how you care going to use it this is very important.

There might be sometimes when you don't have the control over the type of the data being provided to you like one that has been received from a user as in input. But the good news is that python allows you to create new objects from old and change the datatypes for these new objects. As we had previously seen in the integers and floats video.

> For example here we created a float ie 3.0 from an int 3 and assigned it to a new variable called decimal

In [ ]:
decimal = float(3)
print(decimal)
print(type(decimal))

3.0
<class 'float'>

> In this next example we created a string from the integer variable *marks* and used that to create a larger string.

In [ ]:
marks = 15
subject = "coding"
semester = "first"

result = "I scored " + str(marks) + " in " + subject + " during my " + semester + " semester."
print(result)

I scored 15 in coding during my first semester.

> we can also create an float from string

In [ ]:
marks = "15"
print(type(marks))

marks = float(marks)
print(type(marks))

<class 'str'>
<class 'float'>

### **Question:**

In this quiz, you’ll need to change the types of the input and output data in order to get the result you want.

Calculate and print the total sales for the week from the data provided. Print out a string of the form "This week's total sales: xxx", where xxx will be the actual total of all the numbers. You’ll need to change the type of the input data in order to calculate that total.

In [ ]:
mon_sales = "121"
tues_sales = "105"
wed_sales = "110"
thurs_sales = "98"
fri_sales = "95"

#TODO: Print a string with this format: This week's total sales: xxx
print(f"This week's total sales: {int(mon_sales) + int(tues_sales) + int(wed_sales) + int(thurs_sales) + int(fri_sales)}")
# You will probably need to write some lines of code before the print statement.
total_sales = (float(mon_sales) + float(tues_sales) + float(wed_sales) 
                + float(thurs_sales) + float(fri_sales))
print("This week\'s total sales: " + str(total_sales))

This week's total sales: 529
This week's total sales: 529.0

### **12.a. One important string method: format()**

We will be using the *format()* string method a good bit in our future work in Python, and you will find it very valuable in your coding, especially with your print statements.

We can best illustrate how to use *format()* by looking at some examples:

In [ ]:
# Example 1
print("EG:1")
print("Mohammed has {} balloons".format(27))

# Example 2
print("EG:2")
animal = "dog"
action = "bite"
print("Does your {} {}?".format(animal, action))

# Example 3
print("EG:3")
maria_string = "Maria loves {} and {}"
print(maria_string.format("math","statistics"))

EG:1
Mohammed has 27 balloons
EG:2
Does your dog bite?
EG:3
Maria loves math and statistics

Notice how in each example, the number of pairs of curly braces {} you use inside the string is the same as the number of replacements you want to make using the values inside *format()*.

More advanced students can learn more about the formal syntax for using the *format()* string method [here](https://docs.python.org/3.6/library/string.html#format-string-syntax).

<br><br>

## **13. Lists and Membership Operators:**

**Data structures** are containers that organize and group data types together in different ways. A **list** is one of the most common and basic data structures in Python. It is a mutable ordered sequence of elements.

The code below defines a variable *students* which contains a list of strings. Each element in the list is a string that signifies the name of a student.

> The data inside a list can be a mixture of any number and combination of diffrent data types.

In [ ]:
students = ['sam', 'pam', 'rocky', 'austin', 'steve', 'banner']

List are ordered, we can look up individual elements by their index, we can look elements from a list just like we have done below.

In [ ]:
print(students[0])
print(students[1])
print(students[2])

sam
pam
rocky

Notice that the first element in the list is accessed by the index 0, many programming language follow this convection called as zero based indexing.

We can also access the elements from the end of the list using negative index as seen in the examples below.

In [ ]:
print(students[-1])
print(students[-2])
print(students[-3])

banner
steve
austin

If you try to access an index in a list that doesn't exist then you will get an Error as seen below.

In [ ]:
print(students[20])

IndexError: ignored

### **Question:**

Try to use *len()* to pull the last element from the above list

In [ ]:
# TODO: write your code here
students[len(students)-1]

'banner'

## **13.a. Membership Operators:[Lists]**

In addition to accessing individual elements froma a list, we can use pythons sliceing notation to access a subsequence of a list.

Slicing means using indicies to slice off parts of an object like list/string. Look at an example

In [ ]:
students = ['sam', 'pam', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce', 
            'henry', 'clark', 'diana']
student = "Barry"

# slice a particular range
marvel = students[4:7]
flash = student[1:3]

print(marvel)
print(flash)

['steve', 'banner', 'tony']
ar

In [ ]:
# slice from the end
dc = students[7:]
flash = student[1:]

print(dc)
print(flash)

['bruce', 'henry', 'clark', 'diana']
arry

In [ ]:
# slice from the begining
normal = students[:4]
flash = student[:3]

print(normal)
print(flash)

['sam', 'pam', 'rocky', 'austin']
Bar

In [ ]:
# length of the list and the string
print(len(students))
print(len(student))

11
5

Of the types we have seen lists are most familier to strings, both supports the *len()* function, indexing and slicing.

> Here above you have seen that the length of a string is the no of characters in the string, while the length of a list is the no of elements in the list.

Another thing that they both supports aare membership operators:

* **in:** evaluates if an object on the left side is included in the object on the right side.
* **not in:** evaluates if object on left side is not included in object on right side.

In [ ]:
greeting = "Hello there"
print('her' in greeting, 'her' not in greeting)

True False

In [ ]:
print('ShapeAI' in students, 'ShapeAI' not in students)

False True

### **13.b. Mutability and Order:**

So how are Lists diffrent from Strings, both supporst slicing, indexing, in and not in operators.

The most obvious diffrence between them is that string is a sequence of characters while list's elements can be any type of bojects string, integers, floats orr bools.

A more important diference is that lists can be modified but string can't. Look at the example below to understand more.

In [ ]:
students = ['sam', 'pam', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce', 
            'henry', 'clark', 'diana']

students[2] = 'ben'
print(students)

['sam', 'pam', 'ben', 'austin', 'steve', 'banner', 'tony', 'bruce', 'henry', 'clark', 'diana']

In [ ]:
student = "Barry"
student[1] = "e"
print(student)

TypeError: ignored

**Mutability** is about whether or not we can change an object once it has been created. If an object (like a list or string) can be changed (like a list can), then it is called **mutable**. However, if an object cannot be changed without creating a completely new object (like strings), then the object is considered immutable.

**Order** is about whether the position of an element in the object can be used to access the element. **Both strings and lists are ordered.** We can use the order to access parts of a list and string.

> However, you will see some data types in the next sections that will be unordered. For each of the upcoming data structures you see, it is useful to understand how you index, are they mutable, and are they ordered. Knowing this about the data structure is really useful!

Additionally, you will see how these each have different methods, so why you would use one data structure vs. another is largely dependent on these properties, and what you can easily do with it!

Previously when we created a variable that heald an immutable object like string, the value of the immutable object was saved in memory. Like as you can see below

In [ ]:
student = "pam"
character = student
print(character)
character = "peter"
print(character)
print(student)

pam
peter
pam

Lists are diffrent from strings as they are mutable as can be seen from the example below

In [ ]:
students = ['sam', 'pam', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce', 
            'henry', 'clark', 'diana']
characters = students
print(characters)
characters[1]= "peter"
print(characters)
print(students)

['sam', 'pam', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce', 'henry', 'clark', 'diana']
['sam', 'peter', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce', 'henry', 'clark', 'diana']
['sam', 'peter', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce', 'henry', 'clark', 'diana']

There are some useful functions for lists that you should get familier with.

1. ***len():*** returns how many elements does the list has.
2. ***max():*** returns the greatest element of a list.
3. ***min():*** returns the smallest element of a list.
4. ***sorted():*** returns a copy of the list, in order from smallest to the largest. leaving the orignal list unchanged

> max element in a list of integers is the largest integer, while in the case of string is the string that will come last if the list was sorted alphabetically.

In [ ]:
students = ['sam', 'pam', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce', 
            'henry', 'clark', 'diana']

student = "barry"

print(max(students))
print(max(student))

tony
y

> a point to note is that even though you can have a list cntaining int and string a max function will be undefined upon such a list.

In [ ]:
max([2, 'two'])

TypeError: ignored

In [ ]:
characters = sorted(students)
print(characters)

['austin', 'banner', 'bruce', 'clark', 'diana', 'henry', 'pam', 'rocky', 'sam', 'steve', 'tony']

***Join()*** is an other useful function for lists(string lists), Join is a string method that takes a list of strings as an argument, and returns a string consisting of the list elements joined by a separator string. Look at the example below to understand.

In [ ]:
sep_str = "\n".join(["Jack", "O", "Lantern"])
print(sep_str)

Jack
O
Lantern

In this example we use the string **"\n"** as the separator so that there is a newline between each element.
We can also use other strings as separators with .join. Here we use a hyphen.

In [ ]:
name = "-".join(["Jack", "O", "Lantern"])
print(name)

Jack-O-Lantern

> It is important to remember to separate each of the items in the list you are joining with a comma (,). Forgetting to do so will not trigger an error, but will also give you unexpected results.

***append()*** is an other useful method that adds an element to the end of a list.

In [ ]:
letters = ['a', 'b', 'c', 'd']
letters.append('e')
print(letters)

['a', 'b', 'c', 'd', 'e']

<br><br>

## **14. Tuples:**

A tuple is another useful container. It's a data type for immutable ordered sequences of elements. They are often used to store related pieces of information. Consider this example involving (x, y, z) coordinates:

In [ ]:
vector = (4, 5, 9)
print("x-coordinate:", vector[0])
print("y-coordinate:", vector[1])
print("z-coordinate:", vector[2])

x-coordinate: 4
y-coordinate: 5
z-coordinate: 9

Tuples are similar to lists in that they store an ordered collection of objects which can be accessed by their indices. Unlike lists, however, tuples are immutable - you can't add and remove items from tuples, or sort them in place.

> Tuples can also be used to assign multiple variables in a compact way.

> The parentheses are optional when defining tuples, and programmers frequently omit them if parentheses don't clarify the code.

In [ ]:
location = 108.7774, 92.5556
latitude, longtitude = location
print("The coordinates are {} x {}".format(latitude, longtitude))

The coordinates are 108.7774 x 92.5556

In the second line, two variables are assigned from the content of the tuple location. This is called tuple unpacking. You can use tuple unpacking to assign the information from a tuple into multiple variables without having to access them one by one and make multiple assignment statements.

If we won't need to use location directly, we could shorten those two lines of code into a single line that assigns three variables in one go!

In [ ]:
location = 108.7774, 92.5556

print("The coordinates are {} x {}".format(latitude, longtitude))

The coordinates are 108.7774 x 92.5556